 Django>=1.8,<2.0
 psycopg2
 redis==2.10.6
 djangorestframework==3.7.7
 web3==3.16.5
 ipfsapi==0.4.2
 boto3==1.5.35
 rollbar==0.13.18
 slackclient==1.1.2
 djangorestframework-filters==0.10.2
 django-cors-headers==2.2.0
 requests==2.18.4
 uwsgi==2.0.17
 django-nose==1.4.5
 coverage==4.5.1
 codecov==2.0.15
 