 Django>=1.8,<2.0
 django-filter==1.1.0
 psycopg2
 redis==2.10.6
 djangorestframework==3.7.7
 web3==4.3.0
 ipfsapi==0.4.2
 boto3==1.5.35
 rollbar==0.13.18
 slackclient==1.1.2
 djangorestframework-filters==0.10.2
 django-cors-headers==2.2.0
 requests==2.18.4
 uwsgi==2.0.17
 django-nose==1.4.5
 coverage==4.5.1
 codecov==2.0.15
 Faker==0.8.13
 arrow==0.12.1
 djangorestframework-queryfields==1.0.0
 pillow
 pyjwt==1.6.4
 dominate==2.3.4
 PyYAML==3.13 
 swaggertools==0.0.4
 drf-yasg==1.11.0
